.section7 {
  text-align: center;
  background-color: #f8efd4; /* Use a soft background color */
  padding: 50px 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section7 h1 {
  color: #0e4821; /* Dark green color */
  width: 70%;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.section7 p {
  color: #7ba6cc; /* Light blue color for the subtext */
  font-size: 1em;
  margin: 10px 0;
}


.section7 footer {
  margin-top: 30px;
  color: #333;
  font-size: 0.9rem;
}

.section7 footer nav a {
  color: #333;
  text-decoration: none;
  margin: 0 5px;
}

.section7 footer nav a:hover {
  text-decoration: underline;
}
