/* _________________________________________section 1_____________________________________________________ */
.sec1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.sec_11 {
  /* border:2px solid blue; */
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
  margin-top: 20px;
  
}
.sec_111 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid red; */
}
.sec_111 h1 {
  color: #000000;
  font-family: sans-serif;
  font-weight: 600;
  padding: 0px 6px 0px 0px;
  font-size: 4.5vw;
  line-height: 5vw;
  /* background-color: red; */
}

.sec_111 h3 {
  color: #2c7744;
  font-family: sans-serif;
  /* padding: 2px; */
  font-size: clamp(1rem, 2vw , 3rem);
}
.sec_111 p {
  color: #2c7744;
  font-family: sans-serif;
  /* padding: 9px; */
  margin-top: 9px;
  font-size: 1em;
  line-height: 25px;
  width: 80%;
}
.sec_112 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 40%;
  margin-top: 12px;
}
.sec_12 {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  /* border: 5px solid red; */
  gap: 10px;
}
.img1 {
  /* border: 2px solid red; */
  margin-top: 11%;
  width: 30%;
}
.img2 {
  /* border: 2px solid red; */
  margin-top: 15%;
  width: 40%;
}
.Intro_video {
}

@media(max-width:900px){
  .sec1{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 150vh;
  }

  .sec_11{
    width: 75%;
    height: 100vh;
    margin-top: -200px;
    /* background-color: blue; */
  }

  .sec_111{
    margin-top: -150px;
  }

  .sec_111 h1 {
    font-size: 7vw;
    line-height: 70px;
  }

  .sec_111 h3{
    font-size: 4vw;
  }

  .sec_111 p{
    width: 100%;
  }

  .sec_112 {
    transform: translate(50%);
  }

  .sec_12{
    position: absolute;
    top: 55%;
    left:30%;
    height: 40vh;
  }
  
}

