/* _________________________________________section 1_____________________________________________________ */
.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 50px;
  height: 90vh;
  border: solid black 3px;
  background: transparent;
}
.sec_11 {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid red;
}
.sec_12 {
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid red;
}
