.NavBar {
  position: fixed;
  height: 60px;
  background-color: #ffffff;
  width: 100%;
  z-index: 1000;
}
.comAllMain{
  background-color: #fff6de8e;
  height: auto;
}
.section1 {
  
  position: fixed;
  height: 95vh;
  left: 0%;
  width: 23%;
  top: 60px;
  z-index: 0;
  margin-right: 10px;
  /* z-index: 1; */
  overflow-y: hidden;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #fff6de68;
  /* border: solid black 1px; */

}

.ComDashboardMain {
  background-color: rgb(255, 255, 255);
  height: auto;
  margin-left: 25%;
  margin-top: 60px;
}

.section2 {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid black; */
  overflow: hidden; /* Prevents scrollbars */
  box-sizing: border-box; /* Ensures padding and border are included in the width and height */
  z-index: -1;
  background-color: #fff6de50;
}

.com_section3 {
  font-family: sans-serif;
  height: auto;
  width: 100%;
  /* background-color: rgba(255, 255, 0, 0.608); */
  margin-left: 10px;
  z-index: -1;
  background-color: #fff6de50;
  padding-bottom: 90px;

}

@media (max-width: 1200px) {
  .section1 {
    position: relative;
    width: 100%;
    height: 50vh;
  }
  .ComDashboardMain {
    margin-left: 0;
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  .section1 {
    position: relative;
    width: 100%;
    height: 90vh;
  }
}
