.slide3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 88vh;
    margin-top: 50px;
  
    /* border: solid black 3px; */
    background: transparent;
  }
  .slide3_sec1 {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(3px);
    margin-left: 20vh;
    width: 40%;
    height: 40%;
    /* border: solid black 1px; */
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
    padding-left: 50px;
    gap: 10px;
  }
  .voewButton {
    cursor: pointer;
    background-color: black;
    border: none;
    color: orange;
    font-size: 12px;
    font-family: sans-serif;
    width: 9em;
    height: 2em;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Default shadow */
}

.voewButton:hover {
    
    color: rgb(255, 255, 255); /* Adjust text color for contrast */
}
