* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.box_1 {
  width: 100%;
  /* height: 100vh;
  background: rgba(255, 200, 150, 0);  */
  z-index: 1;
}

.filter {
  /* Ellipse 1 */
  position: absolute;
  width: 90%;
  height: 90%;
  right: -25%;
  top: -25px;
  background: radial-gradient(50% 50% at 50% 50%, #ffd397 0%, #f6ecde 100%);
  z-index: 0;
}
.background{
    position: absolute;
    width: 100%;
    height: 120vh;
    background: #F6ECDE;
    z-index: -1;
    top: 0;
}

.sec_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 50px;
    height: 100vh;
    /* border: solid black 3px; */
    background: transparent;
    
}



/* managing the scrool for nav bar hidden */
.navComponent{
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transitions for transform and opacity */
    opacity: 1; /* Default opacity */
}
  
  .navComponentShow {
    display: block;
  }
  .navComponentHide {
    /* display: block; */
    transform: translateY(-100%); 
  }
  
/* rest section */
.restSections{
    background: #F6ECDE;
    /* height: 100vh; */
}


