.section_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  /* border: red solid 2px; */
}
.overall_Info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 3px solid red; */
  width: 50%;
  height: 10vh;
  margin-right: 12%;
  gap: 3em;
  background-color: rgba(255, 231, 112, 0.806);
  border-radius: 1em;
  padding-left: 5%;
  padding-top: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.overall_Info h7 {
  color: rgb(0, 0, 0);
  font-size: small;
}
.charts {
  width: 68%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: rgb(19, 232, 101) solid 2px; */
  overflow: hidden;
  gap: 2%;
}

.section_21 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 2px red; */
  box-sizing: border-box;
  background-color: rgba(234, 234, 228, 0.11);
  gap: 1em;
  /* border: black 2px solid; */
  width: 100%;
  border-radius: 2em;
  padding-left: 4em;
  margin-left: 2em;
  padding: 2em;
}
.section_22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 2px rgb(3, 3, 3); */
  box-sizing: border-box;
  width: 80%;
  height: auto;
  padding-left: 4em;
  background-color: rgba(234, 234, 228, 0.11);

  gap: 1.5em;
  border-radius: 2em;
  /* padding: 5%; */
  padding-top: 4%;
}
.achivements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 23.5vh;
  width: 66%;

  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgba(164, 250, 203, 0.265);
}
/* .total_infoes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
} */
.achiTag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* border: solid red 3px; */
  width: 20%;
}
.achiTag h1{
font-size: 2em;

}
.achiTag p{}
/* responsivenes */

@media (max-width: 800px) {
  .charts {
    flex-direction: column;
    gap: 3em;
  }
  .section_21 {
    width: 84%;
    padding-left: 0em;
    margin-left: 0em;
    padding: 2em;
  }
  .section_22 {
    width: 84%;
    padding-left: 0em;
    margin-right: 0em;
    padding-right: 4em;

    padding: 2em;
  }
  .achivements {
    height: 10vh;
  }
}
@media (max-width: 500px) {
  .charts {
    flex-direction: column;
    gap: 3em;
  }
  .section_21 {
    width: 56%;
    padding-left: 0em;
    margin-left: 0em;
    padding: 2em;
    /* background-color: rgba(241, 226, 199, 0.292); */
  }
  .section_22 {
    padding-left: 0em;
    margin-right: 0em;
    padding-right: 4em;

    padding: 2em;
    width: 56%;
  }
  .achivements {
    .achivements {
      height: 10vh;
    }
  }
}
@media (max-width: 450px) {
  .charts {
    flex-direction: column;
    gap: 3em;
  }
  .section_21 {
    width: 45%;
    padding-left: 0em;
    margin-left: 0em;
    padding: 2em;
    /* background-color: rgba(241, 226, 199, 0.292); */
  }
  .section_22 {
    padding-left: 0em;
    margin-right: 0em;
    padding-right: 4em;
    background-color: rgba(241, 226, 199, 0.292);
    padding: 2em;
    width: 45%;
  }
  .achivements {
    .achivements {
      height: 10vh;
    }
  }
}
