.section_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overallInfo {
  height: 20vh;
}
.charts {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: rgb(19, 232, 101) solid 2px; */
  overflow: hidden;
  gap: 2em;
}
.overallInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 2px red; */
  box-sizing: border-box;

  gap: 4em;
  /* border: black 2px solid; */
  width: 100%;
  border-radius: 2em;
}
.section_21 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 2px red; */
  box-sizing: border-box;

  gap: 4em;
  /* border: black 2px solid; */
  width: 50%;
  border-radius: 2em;
  padding-left: 5em;
  margin-left: 4em;
}
.section_22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid 2px rgb(3, 3, 3); */
  box-sizing: border-box;
  width: 50%;
  height: auto;
  padding-right: 7em;

  gap: 4em;
  border-radius: 2em;
}
