.sec_5-main-heading {
  color: rgba(4, 120, 87, 1);
  font-size: 2.5rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  margin-top: 3rem;
}

.sec_5 {
  margin-bottom: 5rem;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 6.5rem;
  padding-top: 2rem;
  font-family: sans-serif;
}

.sec_5 h1 {
  color: rgb(47, 131, 191);
  font-weight: bold;
  font-size: 2.5rem;
  padding-left: 3rem;
  width: 60%;
}

.sec_5-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.points {
  display: flex;
  flex-direction: column;
  color: rgba(4, 120, 87, 1);
  font-size: 1em;
  width: 80%;
}

.points li span {
  color: rgb(14, 72, 33);
  font-size: 1em;
  font-weight: bold;
}

.sec_5-1 button {
  margin-top: 50px;
  font-size: 22px;
}

@media (max-width: 1000px) {
  .sec_5 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0.5rem 0;
    text-align: center;
    padding-left: 0;
  }

  .sec_5 h1 {
    font-size: 1.5rem;
    margin-right: 0;
    padding-left: 0;
  }

  .points {
    margin-left: 5rem;
    width: 90%;
  }

  .points li p {
    text-align: left;
  }

  .sec_5-1 button {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
