.strip {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  gap: 80px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  /* border: 1px solid black; */
  background-color: white;
  z-index: 0;
}

.infoOfProject{
  /* border: 1px solid red; */
  padding: 10px;
  margin-left: 20px;
}

.photo{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vw;
  width: 20%;
  /* border: 1px solid black; */
  border-radius: 50%;
  margin: 10px 0px 10px 20px;
  background-color: lightgreen;
}

.name{
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.name h4{
  color: rgba(0, 0, 0);
  font-weight: 100;
}

.strip h2 {
  cursor: pointer;
  margin-bottom: 10px;
  color: rgb(23, 151, 236);
  font-size: 1.4vw;
  z-index: 0;
}

.strip h3 {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.713);
  font-weight: 100;
  font-size: 1vw;
}

.strip span {
  color: rgba(0, 0, 0);
  font-weight: 100;
  font-size: 15px;
}

@media (max-width: 900px) {
  .strip h2 {
    font-size: 15px;
  }
  .strip h3 {
    font-size: 12px;
  }
  .photo{
    width: 25%;
    height: 15vw;
  }
}
