.com-sec-3-1 {
  /* border: 1px solid red; */
  padding: 40px;
  padding-left: 10px;
  overflow: hidden;
}

.com-sec-3-1 h1 {
  margin-left: 70px;
  font-size: 2.5vw;
  color: rgb(36, 167, 211);
}

.com-sec-3-1 p {
  margin: 5px 70px;
}

.com-sec-3-2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 20px;
  width: 90%;
  /* border: 2px solid blue; */
  margin-top: 0px;
}

.com-sec-3-21 {
  /* border: 2px solid darkgreen; */
  width: 60%;
  display: flex;
}
.com-sec-3-21 button{
  background-color: rgba(255, 242, 225, 0.698);
  border: 2px solid orange;
  padding: 3px 5px;
  margin-left: 20px;
  border-radius: 5px;
  color: rgb(0, 0, 0) !important;
  
}
.com-sec-3-21 button a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;

}
.com-sec-3-21 label{
  padding-top: 10px;
  margin-right: 10px;

}
.com-sec-3-21 label {
  font-size: 15px;
}
.com-sec-3-21 input {
  padding: 5px;
  width: 75%;
  border-radius: 10px;
  border: 2px solid orange;
}

.projectsUpper{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:2px solid red; */
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.143);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.031);
  padding: 10px 0px;
  border-radius: 10px;
}

.com-sec-3-22 {
  width: 95%;
  height: 60vh;
  /* border: 2px solid blue; */
  margin-left: 20px;
}
.com-sec-3-22::-webkit-scrollbar{
  width: 10px;
  
}
.com-sec-3-22::-webkit-scrollbar-track{
  background: rgba(140, 140, 140, 0.478);
  border-radius: 20px;
}
.com-sec-3-22::-webkit-scrollbar-thumb{
  background: linear-gradient(0deg,rgb(0, 153, 255),rgb(247, 109, 132));
  border-radius: 20px;
}

.strips {
  padding: 10px;
  width: 95%;
  /* border: 1px solid orange; */
}

@media (max-width: 900px) {
  .com-sec-3-1 h1 {
    font-size: 6vw;
  }
}
