
.sec_2-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  padding: 0px 40px;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.sec_2-1 img {
  top: 95%;
  left: 10%;
  margin-bottom: 10px;
  width: 85%;
  border-radius: 20px;
  margin-right: 2vw;
  /* filter: grayscale(100%); */
  /* transition: box-shadow 0.2s ease-in-out, filter 0.2s ease-in-out; */
}

/* .sec_2-1 img:hover{
  filter: grayscale(0%);
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
} */

/* @media(max-width: 800px){
   .sec_2-2{
    display: flex;
    flex-direction: column;
   }
   .sec_2-2 img{
    width: 70%;
    height: 250px;
   }
} */

.sec_2-2 {
  display: flex;
  padding: 50px 50px 20px 0px;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
  /* background-color: rgba(31, 140, 230, 0.374); */
}

.sec_2-2 h1 {
  color: rgba(255, 134, 1, 1);
  font-size: 2.8rem;
  font-weight: 600;
  position: relative;
  display: inline-block;
  text-wrap: balance;
}

.sec_2-2 h1::after {
  content: "";
  background-color: rgba(57, 165, 111, 0.235);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 65%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: bottom right; 
    transition: transform 0.3s ease; 
}

.sec_2-2 h1:hover::after{
  transform: scaleX(1); 
    transform-origin: bottom left;
}

.sec_2-2 p {
  color: rgba(44, 119, 68, 1);
  font-size: 1.5rem;
  /* border: 1px solid blue; */
}

.sec_2-2 button {
  font-size: 20px;
}
