.sec_3-1 {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 5vw; */
  border: 2px solid red;
  padding: 0px 0px 0px 50px;
  padding-top: 10px;
  margin-bottom: 30px;
  margin-right: 120px;
  font-family: sans-serif;
}

.sec_3-1 h1 {
  color: rgb(47, 131, 191);
  font-weight: 600;
  padding: 50px 50px 20px 100px;
  font-size: 3.8rem;
  font-weight: 600;
  margin-top: -100px;
  text-wrap: balance;
  line-height: 80px;
  width: 60%;
}

.sec_3-2 {
  display: flex;
  padding: 0px 50px 20px 50px;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
  /* background-color: rgba(31, 140, 230, 0.374); */
  padding: 0px;
  margin-left: 20px;
  width: 100%;
}

.sec_3-2 p {
  color: rgba(44, 119, 68, 1);
  font-size: 1.7rem;
  line-height: 45px;
  /* border: 1px solid blue; */
}

.sec_3-2 button {
  font-size: 20px;
}

@media (max-width: 1000px) {
  .sec_3-1 h1 {
    text-wrap: wrap;
    text-wrap: balance;
    font-size: 2.8rem;
    line-height: 55px;
    /* margin-right: 5px; */
  }
}

@media (max-width: 800px) {
  .sec_3-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    height: 100vh;
    margin-top: -100px;
    margin-bottom: 50px;
    position: relative;
    padding-right: 20px;
    margin-right: 0px;
  }
  .sec_3-1 h1 {
    font-size: 3.2rem;
    line-height: 70px;
    text-wrap: balance;
  }
  .sec_3-2 p {
    margin-top: 0px;
    text-align: center;
    /* background-color: aqua; */
    font-size: 1.5rem;
    margin-bottom: -100px;
    line-height: 50px;
    text-wrap: wrap;
  }
  .sec_3-2 button {
    position: absolute;
    bottom:10px;
    transform: translateX(100%);
    margin-top: -100px;
  }
}
