.sectionNav {
  display: flex;
  justify-content: space-around; /* Aligns buttons to the left */
  align-items: flex-end; /* Aligns buttons to the bottom */
  margin: 45px 20px 5px 0px;
  height: auto; /* Ensure the nav takes full height of the container */
}

.navButton {
  background-color: #ff8c00; /* Orange background color */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px; /* Space between buttons */
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #e07b00; /* Darker orange on hover */
}

.navButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffa500; /* Orange outline on focus */
}
