.nav {
  position: fixed; 
  top: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  color: black;
  backdrop-filter: blur(10px); /* Apply blur effect */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
  display: grid;
  grid-template-columns: 0.2fr 1fr 2fr 1fr 0.2fr;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.navZero {
  position: fixed; /* Ensure the nav is fixed at the top */
  top: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  color: black;
  display: grid;
  grid-template-columns: 0.2fr 1fr 2fr 1fr 0.2fr;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}


.navLogo{
  display: grid;
  grid-column: 2/3;
  align-items: center;
  justify-content: start;
}

.navOptions {
  width: 100%; /* Ensure it takes the full width */
  /* border: 1px solid black; */
  align-items: center;
}

.navOptions ul {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* align-items: center; */
  justify-items: center; /* Center items within their grid cells */
}

.navOptions ul li {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center; /* Center content inside each `li` */
}
.DownArrow{
  height: 10px;
  font-size: large;
  font-weight: 200;
}

/* contactUs */
.NavContactBtn {
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: hidden;
}
.ContactButton {
  display: flex; /* Change from block to flex */
  justify-content: flex-end; /* Align content to the end (right side) */
}

/* hamburger */
.NavhamBurger{
  position: absolute;
  top: 20px;
  right: 10%;
  z-index: 4;
  display: none;
}

/* responsive */
@media (max-width: 580px) {
  .navOptions, .NavContactBtn {
    display: none; /* This will hide both elements */
  }
  .NavhamBurger{
    display: block;
  }
}


/* dor */
/* // drop down setting */
.dropDownMenu{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: 10px;
}
.dropSection1{
  height: 370px;
  width: 20%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.dropSecButton{
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(197, 197, 195);
  position:absolute;
  margin-top: 100px;
  border-radius: 10px;
  border: none;
}
.imageDropSection1 {
  margin-top: 20px;
  background-image: url('https://www.investopedia.com/thmb/4fZP09YaPrrjNR5_Ty1xKdqMWRY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Carbon-markets-7972128_final-3e1deab003104299afd27a4de367ef4b.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 100px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4); /* Lighter shadow effect */
}


.dropSection3{
  height: 370px;
  width: 20%;
  background:#789f76fd;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 2px 10px #79797995;
}
.dropDownMenu span p{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropSection3 span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
  margin-left: 20px;
  /* border: 1px solid red; */
}
.dropSection3 ul li{
  margin-top: 10px;
  color: #cdcdcd;
  font-size: 0.9rem;
}
.helpIcon{
  margin-left: 20px;
  height: 1px;
  width: 1px;
  margin-right: 5px;
  color: #d89c25;
  
}

.dropDownMenu main p:hover{
  color: rgb(225, 114, 16);
  text-decoration: none;
  cursor: pointer;
}
.dropDownMenu main{
  display: inline-flex;
  margin-bottom: 20px;
  text-decoration: underline;
}
.dropDownMenu .menuOptions{
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 20px;
  height: 350px;
  width: auto;
  /* background-color: red; */
}



/* secton2of dropdown */

.dropDownMenu .menuOptions li{
  margin-left: 25px;
  margin-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 13px;
  min-width: 50px;
  margin-top: 20px;
  width: 150px;
  text-decoration: none;
  display: inline-flex;
}
.dropDownMenuHide{
  display: none;
}

.dropSection2{
  width: 250px;
  /* border: 1px solid rgb(248, 105, 105); */
}
.dropSection2 ul li {
  transition: background-color 0.2s ease-in-out;
  border: 1px solid rgb(225, 225, 225);
  /* width: 400px; */
}

.dropSection2 ul li{
  width: 200px;
  border: 1px solid rgb(223, 223, 223);
  
}

.dropSection2 ul li a{
  text-decoration: none;
  color: rgb(26, 81, 143);
  width: 70%;
}
.dropSection2 .menuOptions div{
  width: 200px;
}

.dropSection2 ul li:hover {
  background-color: #dedede;
}

/* Hide .arrow by default */
.arrow{
  border-radius: 25px;
  color: #818181;
  background-color: rgb(191, 219, 195);
  padding: 4px;
  border: 1px solid rgba(0, 0, 139, 0.393);
  /* margin-right: 20px; */
  /* margin-left: 30px; */
}
/* testin */
