.nav {
  position: fixed; 
  top: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  color: black;
  backdrop-filter: blur(10px); /* Apply blur effect */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
  display: grid;
  grid-template-columns: 0.2fr 1fr 2fr 1fr 0.2fr;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.navZero {
  position: fixed; /* Ensure the nav is fixed at the top */
  top: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  color: black;
  display: grid;
  grid-template-columns: 0.2fr 1fr 2fr 1fr 0.2fr;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}


.navLogo{
  display: grid;
  grid-column: 2/3;
  align-items: center;
  justify-content: start;
}

.navOptions {
  width: 100%; /* Ensure it takes the full width */
  /* border: 1px solid black; */
  align-items: center;
}

.navOptions ul {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* align-items: center; */
  justify-items: center; /* Center items within their grid cells */
}

.navOptions ul li {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center; /* Center content inside each `li` */
}
.DownArrow{
  height: 10px;
  font-size: large;
  font-weight: 200;
}

/* contactUs */
.NavContactBtn {
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: hidden;
}
.ContactButton {
  display: flex; /* Change from block to flex */
  justify-content: flex-end; /* Align content to the end (right side) */
}

/* hamburger */
.NavhamBurger{
  position: absolute;
  top: 20px;
  right: 10%;
  z-index: 4;
  display: none;
}

/* responsive */
@media (max-width: 580px) {
  .navOptions, .NavContactBtn {
    display: none; /* This will hide both elements */
  }
  .NavhamBurger{
    display: block;
  }
}


/* dor */
/* // drop down setting */
.dropDownMenu{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.dropSection1{
  height: 370px;
  width: 20%;
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageDropSection1{
  background-image: url('https://www.investopedia.com/thmb/4fZP09YaPrrjNR5_Ty1xKdqMWRY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Carbon-markets-7972128_final-3e1deab003104299afd27a4de367ef4b.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 100px;
}

.dropSection3{
  height: 370px;
  width: 20%;
  background-color: rgb(248, 248, 248);
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  /* box-shadow: 1px 1px 10px #c6c6c6; */
}
.dropDownMenu span p{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropDownMenu span ul li{
  margin-top: 15px;
  font-size: 0.9rem;
  color: #979797;
}
.dropSection3 span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
  margin-left: 20px;
  /* border: 1px solid red; */
}
.helpIcon{
  margin-left: 20px;
  height: 1px;
  width: 1px;
  margin-right: 5px;
  color: #d89c25;
  
}

.dropDownMenu main p:hover{
  color: black;
}
.dropDownMenu main{
  display: inline-flex;
  margin-bottom: 20px;
  text-decoration: underline;
}
.dropDownMenu .menuOptions{
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 20px;
  height: 350px;
  width: auto;
  /* background-color: red; */
}

.dropDownMenu .menuOptions li{
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 20px;
  min-width: 150px;
}
.dropDownMenuHide{
  display: none;
}