/* Base styles for the task list */
.task-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  max-width: 1200px;
  box-sizing: border-box;
  height: auto;
  margin-top: 2em;
}

/* Header styling */
.task-list h3 {
  margin-bottom: 0.5rem;
  min-height: 2em;
  text-align: center;
}

/* Styles for the unordered list */
.task-list ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default to 1 column for small screens */
  gap: 3rem;
  padding: 1rem; /* Added padding to the container */
  width: 100%;
  overflow-y: auto;
  border-radius: 8px;
  scrollbar-width: thin;
  scrollbar-color: rgb(245, 128, 4) rgb(253, 253, 253);
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}

.task-list ul::-webkit-scrollbar {
  width: 8px;
}

.task-list ul::-webkit-scrollbar-thumb {
  background-color: rebeccapurple;
  border-radius: 4px;
}

.task-list ul::-webkit-scrollbar-track {
  background: lightgray;
}

/* List item styling */
.task-list li {
  padding: 1rem;
  border: 1px solid #dddddd;
  width: 90%;
  text-align: left;
  border-radius: 1em;
  min-height: 6em;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Center heading vertically and horizontally */
.task-list li span {
  font-weight: bold;
  white-space: normal; /* Allow wrapping of the heading */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem; /* Add some space between the title and content */
  flex-grow: 1; /* Ensure the heading takes up available space */
}

/* Paragraph styling */
.task-list li p {
  margin-top: 0.5rem;
  font-size: 0.8em; /* Smaller font size for content */
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Styling for completed tasks */
.task-list li.completed {
  color: gray;
}

/* Hide completed tasks when not in completed tasks view */
.task-list.hide-completed .completed {
  display: none;
}

/* Done button styling */
.done-button {
  background-color: rgb(252, 154, 7);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.done-button:hover {
  background-color: rgb(230, 140, 7);
}

/* Media queries for responsiveness */
@media (min-width: 600px) {
  .task-list ul {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media (min-width: 992px) {
  .task-list ul {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for large screens */
  }
}
